<h1>Editing note</h1>

<%= render "form", note: @note %>

<br>

<div>
  <%= link_to "Show this note", @note, class: "btn btn-dark btn-sm nav-button" %>
  <%= button_to "Destroy this note",
  @note,
  method: :delete,
  class: "btn btn-dark btn-sm nav-button" %>
</div>
