<p style="color: green"><%= notice %></p>

<div class="notes-page-title">
<h1>Notes</h1>
</div>

<% if current_user %>
<%= link_to "New note", new_note_path, class: "btn btn-dark btn-sm nav-button" %>
<% end%>

<div id="notes">
  <% @notes.each do |note| %>
  <div class="note-container">
    <%= render note %>
       <%= link_to "Edit this note", edit_note_path(note), class: "btn btn-dark btn-sm nav-button" %>
  <% end %>
  </div>
</div>

