<p style="color: green"><%= notice %></p>

<div class="page-title">
  <h1>Notes</h1>
</div>

<% if current_user %>
  <%= link_to "New note", new_note_path, class: "btn btn-dark btn-sm nav-button" %>
<% end %>

<div class="notes-container">
  <%# <div id="notes"> %>
  <% @notes.each do |note| %>
    <div class="note-container">
      <%= render note %>
      <% if current_user %>
        <%= link_to "Edit this note",
        edit_note_path(note),
        class: "btn btn-dark btn-sm nav-button" %>
      <% end %>
    </div>
  <% end %>
  <%# </div> %>
</div>
