<p style="color: green"><%= notice %></p>

<h1>Notes</h1>

<% if current_user %>
<%= link_to "New note", new_note_path, class: "btn btn-dark btn-sm nav-button" %>
<% end%>

<div id="notes">
  <% @notes.each do |note| %>
    <%= render note %>
       <%= link_to "Edit this note", edit_note_path(note), class: "btn btn-dark btn-sm nav-button" %>
  <% end %>
</div>

