<div class="notes-page-title">
  <!-- TODO: change class name to something more generic -->
  <h1>New note</h1>
</div>
<% if current_user %>
  <div class="form-container">
    <%= render "form", note: @note %>
  </div>
<% end %>
