<%= render "home/sidebar" %>

<div class="container-responsive-margin">
  <% @notes.each do |note| %>
    <div class="note-container">
      <%= render "home/note_page", { note: note } %>
    </div>
  <% end %>
  <div class="pagination-container">
    <%== pagy_bootstrap_nav(@pagy).html_safe %>
  </div>
</div>
