<%= render "home/sidebar" %>
<div class="page-title">
  <h1>Search Results</h1>
</div>
<div class="notes-container">
  <% @results.each do |result| %>
    <div class="note-container">
      <%= render "home/note_page", { note: result } %>
    </div>
  <% end %>
</div>
