
.page-title {
    font-family: "Titillium Web", "Trebuchet MS", sans-serif;   
    color: #ffffff;
}


.dropdown-transparent {
    background-color: transparent !important;
    border-color: transparent !important;
}

.note-container {
    margin: 6em 1em;

}

.note-inner-container {
    max-width: 50em;
    border: 1.5px solid #00000078;
    border-radius: 6px;
    /* border-radius: 0 0 6px 6px; */
    padding: 3em;
    margin: 0 auto;
    box-shadow: 0.5em 0.5em 0.1em #0000005e;
}

.navbar-toggler-minimal {
    border-width: 0px;
    background-color: transparent;
}

.note-header {
    max-width: 50em;
    border: 1px solid #00000078;
    background-color: #00000057;
    border-radius: 6px 6px 0 0;
    padding: 0 3em;
    margin: 0 auto;
    min-height: 1.5em;
}