<div class="note-container">
    <div class="">
    </div>
    <div class="note-inner-container">
        <h2>Note title</h2>
        <br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et quam quis urna mollis tempor. Vestibulum vel lectus sed leo egestas tempor. Curabitur dignissim efficitur risus, et hendrerit eros tincidunt pretium. Duis ac consequat urna. Duis urna nibh, auctor non dui in, vulputate bibendum purus. Sed pellentesque, tortor id vehicula ultricies, leo ante molestie nibh, quis consectetur ipsum libero eget metus. Aliquam rutrum sit amet ligula commodo varius. Donec mattis dapibus justo eget aliquet.

            Etiam tristique velit nec consectetur aliquam. Mauris sollicitudin fermentum mi non facilisis. Nam in dui semper, aliquam quam id, mattis ex. Fusce ultrices rutrum arcu, sit amet condimentum neque commodo sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam dignissim neque a felis lacinia vestibulum. Praesent feugiat vitae nunc scelerisque imperdiet.
            
            Phasellus in metus eget eros malesuada mattis vel nec nulla. Integer posuere interdum risus sit amet lacinia. Donec aliquam feugiat mi sed pharetra. Proin felis eros, congue non eros eu, ullamcorper pellentesque quam. Donec eu facilisis ante, non tristique justo. Sed volutpat dictum ultrices. Maecenas in efficitur neque.
            
            Sed vitae cursus elit, sed iaculis orci. Nulla facilisi. Donec id arcu pharetra, rutrum lacus a, dictum nulla. In non ante in ligula molestie iaculis ut sit amet nisi. Nullam tincidunt libero at ante sodales, ut luctus diam dictum. Aenean tellus purus, pulvinar ut viverra in, mattis nec sem. Maecenas in hendrerit metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque urna orci, aliquam eget felis et, euismod sodales urna. Sed ullamcorper dictum nibh, eget scelerisque nunc aliquet non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam ut sollicitudin sapien. Maecenas et hendrerit arcu, nec consectetur risus. Phasellus rhoncus massa vel lorem posuere, sit amet imperdiet nulla bibendum.
            
            Ut convallis tempor maximus. Aenean lorem magna, posuere et mauris quis, mattis euismod velit. Sed eget tincidunt arcu. Vivamus ornare viverra pretium. Curabitur nec consectetur nunc. Etiam vitae facilisis tellus. Nulla semper accumsan ultricies. Nam sollicitudin tincidunt diam, a placerat nibh.
        </p>
    
    </div>
</div>