<div id="<%= dom_id tag %>">
  <p>
    <%= tag.name %>
  </p>

<div class="container-responsive-margin">
  <% tag.notes.each do |note| %>
    <div class="note-container">
      <%= render note %>
      <% if current_user %>
        <%= link_to "Edit this note",
        edit_note_path(note),
        class: "btn btn-dark btn-sm nav-button" %>
      <% end %>
    </div>
  <% end %>
</div>

</div>
