<%= render 'home/sidebar' %>

<div class="about-outer-container">
    <div class="about-inner-container">
        <p>
            Hi! I'm Vinnie and I'm a software developer based in Victoria, BC. <br><br>
            This is my dev journal, a place where I document my journey as a software developer and store the things I have learned along the way. 
            It serves as a reference for me to easily access the knowledge and experiences I have gained in the past.
            It is not a blog, but a personal repository of information and I hope it will be a valuable resource for me in the future. 
        </p>
    </div>
</div>