<%= render "home/sidebar" %>

<div class="about-outer-container">
  <div class="flat-box">
    <p>
      Hi! I'm Vinnie and I'm a
      <span class="highlight">software developer based in Victoria, BC</span>.
      <br><br>
      Welcome to my dev journal! This is where I share my experiences and growth 
      as a software developer. I'm excited to document my journey and store all 
      the knowledge I've gained in one place. Think of it as a personal 
      reference library for myself, but who knows, it might also be helpful 
      for others in the future! This isn't a traditional blog, but more of 
      a personal repository where I can easily access what I've learned and keep 
      track of my progress.
       <br><br>
      You can get in touch with me at <span class="link-accent"><a href="vapotrykus@gmail.com">vapotrykus@gmail.com</a></span>.
    </p>
    <div>
      <a href="https://github.com/vnctptr">
        <%= show_svg('github-icon-white.svg') %>
      </a>
      <a href="https://www.linkedin.com/in/vincent-potrykus-593a53214/">
        <%= show_svg('linkedin-icon-white.svg') %>
      </a>
    </div>  
  </div>
</div>
