<%= render 'home/sidebar' %>

<div class="about-outer-container">
    <div class="about-inner-container">
        <p>
            Hi! I'm Vinnie and I'm a software developer based in Victoria, BC. 
            This is my dev journal, a place where I document my dev journey, store things I learned and things I wanna have easy access to.
        </p>
    </div>
</div>