$primary-color: #161a25;
$secondary-color: #c8ceda;
$accent-color: #ff6900;
$accent-color-dark: #c85300;
$light-blue: #4e586e;
$medium-blue: #1b212d;
$dark-blue: #0f121a;

$link-color: $secondary-color;
$link-hover-color: $light-blue;
