@import "variables";

.about-inner-container {
  margin: auto;
  max-width: 45em;
  margin-top: 6em;
  background-color: $dark-blue;
  padding: 2.5em;
  border-radius: 0.6em;
}

.about-outer-container {
  margin: 0px 4vw;
}
