@import "variables";

.about-outer-container {
  margin: 0px 4vw;
}

.link-accent {
  color: $accent-color;
}

.link-accent > a {
  color: $accent-color !important;
  text-decoration: none;
}

.link-accent > a:hover {
  color: $accent-color-dark !important;
}

.flat-box {
    border-radius: 10px;
    background-color: $medium-blue;
    box-shadow: 0.5em 0.5em 0.1em rgba(15, 18, 26, 0.53);
    margin: auto;
    max-width: 45em;
    margin-top: 6em;
    padding: 2.5em;
}