@import "variables";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: $primary-color;
  color: #ffffff;
}

h1 {
  font-family: "Titillium Web", "Trebuchet MS", sans-serif;
  font-size: calc(1.5rem + 0.6vw);
}

h1 > a {
  text-decoration: none;
  color: #ffffff;
}

h1 > a:hover {
  color: $secondary-color;
}

h2 {
  font-family: "Titillium Web", "Trebuchet MS", sans-serif;
  font-size: calc(1.3rem + 0.6vw);
}

h3 {
  font-family: "Titillium Web", "Trebuchet MS", sans-serif;
  font-size: calc(0.9rem + 0.6vw);
  margin-top: 1em;
}

pre {
  background-color: $dark-blue;
  padding: 1em;
  border-radius: 0.5em;
}

code {
  color: $accent-color;
}

p > a:link {
  color: $secondary-color;
}

p > a:visited {
  color: $secondary-color;
}

p > a:hover {
  color: $light-blue;
}

p > a:active {
  color: $light-blue;
}

.spacer {
  margin: 5em;
}

.sidebar {
  background-color: $primary-color;
}

.nav-buttons-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0.7em 0;
}

.nav-button {
  margin: 1em;
}

.navbar-toggler-minimal {
  border-width: 0px;
  background-color: transparent;
}

.btn-dark,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: $dark-blue !important;
  border-width: 0;
  color: $secondary-color;
}

.btn-dark:hover {
  background-color: $light-blue !important;
  border-width: 0;
}

.dropdown-item:hover {
  background-color: transparent;
}

.dropdown-transparent {
  background-color: transparent !important;
  border-color: transparent !important;
}

.notes-container {
  margin: calc(1em + 1vw);
}

.note-container {
  max-width: 50em;
  margin: 3em auto;
}

.page-title {
  margin: 3em 0 0 0;
  display: flex;
  justify-content: center;
}

.search-bar-container {
  display: flex;
  margin: 1em 0;
}

.search-bar {
  margin: 0.2em;
}

.btn-search {
  margin: 0.2em;
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-bottom: 2em;
}

tbody,
td,
th,
tr {
  background-color: $primary-color;
  padding: 1em;
  min-width: 8em;
}
