/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color: #161a25;
    color: #ffffff
 }

 h1 {
    font-family: "Titillium Web", "Trebuchet MS", sans-serif;   
    font-size: calc(1.5rem + .6vw);
}


h2 {
    font-family: "Titillium Web", "Trebuchet MS", sans-serif;   
    font-size: calc(1.3rem + .6vw);
}


h3 {
    font-family: "Titillium Web", "Trebuchet MS", sans-serif;   
    font-size: calc(0.9rem + .6vw);

}


.dark-blue-bg {
    background-color: #161a25;
}

.med-blue-bg {
    background-color: #1b212d;
}

pre {
    background-color: #0f111840;
    padding: 1em;
    border-radius: 0.5em;
}

code { 
    color: #ff6900;
}

.nav-buttons-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0.7em 0;
}

.nav-button {
    margin: 1em;
}

.btn-dark, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #00000078 !important;
    border-color: #161a25;
    color: #ffffffd6;
}
.btn-dark:hover {
    background-color: #2a3247 !important;
}
